
.container {
	max-width: 1140px;	
	margin: 40px auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col {
	text-align: left;
	padding: 0 15px;

}
.c2 {
    text-align: center;
	padding: 50px 0 0 0;
}
.c2 i {
    font-size: 60px;
}
.c3 {
    position: absolute;   
    margin: 20px 0 0 80px;
}
.square {
    margin: 20px auto;
    width: 200px;
    height: 60px;
    background-color: yellow;
    position: relative;
}

.square2 {
    margin: 20px auto;
    width: 200px;
    height: 300px;
    background-color: yellow;
    position: relative;
}

.splash{
    height: 100vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/399187/pexels-photo-399187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.img1 {
    margin: 20px auto;
    width: 200px;
    height: 300px;
    
    position: relative;
}
.c {
    font-size: 40px;
    color: red;
}
.col h1, h3 {
    color: red;
}
.red {
    color: red;
}
a {
    text-decoration: none;
}
.b {
    background-color: #ECE3E2;
}






.col-1 {flex: 8.333%;}
.col-2 {flex: 16.667%;}
.col-3 {flex: 25%;}
.col-4 {flex: 33.333%;}
.col-5 {flex: 41.667%;}
.col-6 {flex: 50%;}
.col-7 {flex: 58.333%;}
.col-8 {flex: 66.667%;}
.col-9 {flex: 75%;}
.col-10 {flex: 83.333%;}
.col-11 {flex: 91.667%;}
.col-12 {flex: 100%;}










@media (max-width: 767px) {
    .wraper {
        flex-direction: column;
        text-align: left;
}
.splash{
    height: 150vh;
    position: relative;
    background-image: url('https://images.pexels.com/photos/399187/pexels-photo-399187.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}




}